html {
    height: 100%;
}
body {
   /* background-color: #333;*/
    color: white;
    background-image:radial-gradient( #bbb, #222 ) ;
    height: 100%;
    margin: 0;
}

.carousel {
    width: 500px;
    height: 700px;
   /*border: 10px solid #666;*/

    position: relative;
    top: 100px;
    left: 100px;
    perspective: 1000px;
}
.carousel  .slide {
    width: 500px;
    height: 700px;
    border:  7px solid white;
    position: absolute;
    transition: transform 3s ;
}
.carousel  .slide::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(255, 255, 255, 0.37));
    position: absolute;
}


.carousel  .slide a{
 color: rgba(255, 255, 255, 0.692);
 font-size: 30px;
 background-color: rgba(133, 95, 14, 0.548);
 text-decoration: none;
 width: 40px;
 height: 40px;
 display: block;
 text-align: center;
 border-radius: 40px;
 position: absolute;
 right: -10px;
 top: 50%;
}

.carousel  .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(-800px);
}

.carousel  .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(-600px);
}

.carousel  .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(-400px);
}

.carousel  .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(-200px);
}
.carousel  .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(0px);
}



/* STATE-5 */
.carousel #state-5:target   .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(-600px);
    z-index: 1;
}

.carousel #state-5:target   .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(-400px);
    z-index: 2;
    
}

.carousel #state-5:target   .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(-200px);
    z-index: 3;
}
.carousel #state-5:target   .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(0px);
    z-index: 4;
}

.carousel #state-5:target   .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(-800px);
    z-index: 0;
}

/* STATE-4 */
.carousel #state-4:target   .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(-400px);
    z-index: 2;
}

.carousel #state-4:target   .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(-200px);
    z-index: 3;
    
}

.carousel #state-4:target   .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(0px);
    z-index: 4;
}
.carousel #state-4:target   .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(-800px);
    z-index: 0;
}

.carousel #state-4:target   .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(-600px);
    z-index: 1;
}

/* STATE-3 */
.carousel #state-3:target   .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(-200px);
    z-index: 3;
}

.carousel #state-3:target   .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(0px);
    z-index: 4;
    
}

.carousel #state-3:target   .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(-800px);
    z-index: 0;
}
.carousel #state-3:target   .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(-600px);
    z-index: 1;
}

.carousel #state-3:target   .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(-400px);
    z-index: 2;
}

/* STATE-2 */
.carousel #state-2:target   .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(0px);
    z-index: 4;
}

.carousel #state-2:target   .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(-800px);
    z-index: 0;
    
}

.carousel #state-2:target   .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(-600px);
    z-index: 1;
}
.carousel #state-2:target   .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(-400px);
    z-index: 2;
}

.carousel #state-2:target   .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(-200px);
    z-index: 3;
}

/* STATE-1 */
.carousel #state-1:target   .slide:nth-child(1) {
    
    transform: rotateY(-35deg) translateZ(-800px);
    z-index: 0;
}

.carousel #state-1:target   .slide:nth-child(2) {
    
    transform: rotateY(-35deg) translateZ(-600px);
    z-index: 1;
    
}

.carousel #state-1:target   .slide:nth-child(3) {
    
    transform: rotateY(-35deg) translateZ(-400px);
    z-index: 2;
}
.carousel #state-1:target   .slide:nth-child(4) {
    
    transform: rotateY(-35deg) translateZ(-200px);
    z-index: 3;
}

.carousel #state-1:target   .slide:nth-child(5) {
    
    transform: rotateY(-35deg) translateZ(0px);
    z-index: 4;
}



